# Dependencies
functions/node_modules/
node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# Env
.env
.env.local
.env.*.local

# Build artifacts
dist/
build/
.next/
